@model IEnumerable<PictoHub.Models.Thread>

@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated) {
    <p>@Html.ActionLink("Create New Thread", "Create", new { id = ViewBag.Board })</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentsCount)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr class="link-row" data-href="../Details/@Html.DisplayFor(modelItem => item.Id)">
            <td class="jumbotron-@Html.DisplayFor(modelItem => item.Color) thread">
                @Html.DisplayFor(modelItem => item.Title)
                @if (Request.IsAuthenticated) {
                    @:&nbsp;
                    @Html.ActionLink("Edit", "Edit/" + item.Id, "Threads")
                    @:&nbsp;
                    @Html.ActionLink("Delete", "Delete/" + item.Id, "Threads")
                }
            </td>
            <td class="jumbotron-@Html.DisplayFor(modelItem => item.Color) thread noshadow">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="thread jumbotron-@Html.DisplayFor(modelItem => item.Color) noshadow">
                @item.Date.Date.ToString("D")
            </td>
            <td class="thread jumbotron-@Html.DisplayFor(modelItem => item.Color) noshadow">
                @Html.DisplayFor(modelItem => item.CommentsCount)
            </td>
        </tr>
    }

</table>

@if (Request.IsAuthenticated) {
    <p>@Html.ActionLink("Create New Thread", "Create", new { id = ViewBag.Board })</p>
}
